# [bump]
version: "3"
services:
  mongodb:
    build:
      context: mongo
    image: ${REPOSITORY}-mongodb:${PROJECT_VERSION:0.1.44}
    networks:
      app-network:
    logging: &logging
      driver: "json-file"
      options:
        max-size: "25m"
        max-file: "2"

  redis:
    image: redis:6.2-alpine
    networks:
      app-network:
    logging:
      <<: *logging

  rabbitmq:
    image: rabbitmq:3.8-management-alpine
    networks:
      app-network:
    logging:
      <<: *logging

  mysql:
    build:
      context: mysql
    image: ${REPOSITORY}-mysql-db:${PROJECT_VERSION:0.1.44}
    cap_add:
      - NET_ADMIN
    networks:
      app-network:
    logging:
      <<: *logging

  dispatch:
    build:
      context: dispatch
    image: ${REPOSITORY}-dispatch:${PROJECT_VERSION:0.1.44}
    depends_on:
      - rabbitmq
    networks:
      app-network:
    environment:
      OTEL_EXPORTER_OTLP_ENDPOINT: collector:4317
      OTEL_SERVICE_NAME: otel-shop-dispatch
    logging:
      <<: *logging

  front:
    image: ${REPOSITORY}-front:${PROJECT_VERSION:0.1.44}
    build:
      context: front
    depends_on:
      - catalogue
      - ratings
      - user
      - web
    environment:
      WEB_HOST: web
      CATALOGUE_HOST: catalogue
      CART_HOST: cart
      PAYMENT_HOST: payment
      SHIPPING_HOST: shipping
      RATINGS_HOST: ratings
      USER_HOST: user
      OTEL_EXPORTER_OTLP_ENDPOINT: collector:4317
      OTEL_SERVICE_NAME: otel-shop-front
    volumes:
      - ./front/conf/otel-nginx.toml:/conf/otel-nginx.toml
    networks:
      app-network:
    ports:
      - "8000:80"
    command:
      - /usr/sbin/nginx
      - -g
      - daemon off;
    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "-H",
          "X-INSTANA-SYNTHETIC: 1",
          "-f",
          "http://localhost/health-check",
        ]
      interval: 10s
      timeout: 10s
      retries: 3

  web:
    image: ${REPOSITORY}-web:${PROJECT_VERSION:0.1.44}
    build:
      context: web
    environment:
      OTEL_EXPORTER_OTLP_ENDPOINT: collector:4317
      OTEL_SERVICE_NAME: otel-shop-web
    volumes:
      - ./web/conf/opentelemetry.conf:/etc/apache2/mods-available/opentelemetry.conf
      - ./web/html:/var/www/html
    networks:
      app-network:

  cart:
    build:
      context: cart
    image: ${REPOSITORY}-cart:${PROJECT_VERSION:0.1.44}
    depends_on:
      - redis
    networks:
      app-network:
    environment:
      OTEL_EXPORTER_OTLP_ENDPOINT: collector:4317
      OTEL_SERVICE_NAME: otel-shop-cart
    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "-H",
          "X-INSTANA-SYNTHETIC: 1",
          "-f",
          "http://localhost:8080/health-check",
        ]
      interval: 10s
      timeout: 10s
      retries: 3
    logging:
      <<: *logging

  catalogue:
    build:
      context: catalogue
    image: ${REPOSITORY}-catalogue:${PROJECT_VERSION:0.1.44}
    depends_on:
      - mongodb
    networks:
      app-network:
    environment:
      OTEL_EXPORTER_OTLP_ENDPOINT: collector:4317
      OTEL_SERVICE_NAME: otel-shop-catalogue
    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "-H",
          "X-INSTANA-SYNTHETIC: 1",
          "-f",
          "http://localhost:8080/health-check",
        ]
      interval: 10s
      timeout: 10s
      retries: 3
    logging:
      <<: *logging

  user:
    build:
      context: user
    image: ${REPOSITORY}-user:${PROJECT_VERSION:0.1.44}
    depends_on:
      - mongodb
      - redis
    networks:
      app-network:
    environment:
      OTEL_SERVICE_NAME: otel-shop-user
    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "-H",
          "X-INSTANA-SYNTHETIC: 1",
          "-f",
          "http://localhost:8080/health-check",
        ]
      interval: 10s
      timeout: 10s
      retries: 3
    logging:
      <<: *logging

  ratings:
    build:
      context: ratings
    image: ${REPOSITORY}-ratings:${PROJECT_VERSION:0.1.44}
    environment:
      APP_ENV: prod
      OTEL_EXPORTER_OTLP_ENDPOINT: collector:4317
      OTEL_PROPAGATORS: w3c
      OTEL_EXPORTER_OTLP_PROTOCOL: grpc
      OTEL_SERVICE_NAME: otel-shop-ratings
    networks:
      app-network:
    depends_on:
      - mysql
    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "-H",
          "X-INSTANA-SYNTHETIC: 1",
          "-f",
          "http://localhost/health-check",
        ]
      interval: 10s
      timeout: 10s
      retries: 3
    logging:
      <<: *logging

  payment:
    build:
      context: payment
    image: ${REPOSITORY}-payment:${PROJECT_VERSION:0.1.44}
    depends_on:
      - rabbitmq
    networks:
      app-network:
    environment:
      OTEL_EXPORTER_OTLP_ENDPOINT: http://collector:4317
      OTEL_SERVICE_NAME: otel-shop-payment
      OTEL_TRACES_EXPORTER: otlp_proto_grpc
      OTEL_RESOURCE_ATTRIBUTES: service.name=otel-shop-payment
    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "-H",
          "X-INSTANA-SYNTHETIC: 1",
          "-f",
          "http://localhost:8080/health-check",
        ]
      interval: 10s
      timeout: 10s
      retries: 3
    # Uncomment to change payment gateway
    #environment:
    #PAYMENT_GATEWAY: "https://www.worldpay.com"
    logging:
      <<: *logging

  shipping:
    build:
      context: shipping
    image: ${REPOSITORY}-shipping:${PROJECT_VERSION:0.1.44}
    depends_on:
      - mysql
    networks:
      app-network:
    environment:
      CART_ENDPOINT: cart:8080
      DB_HOST: mysql
      OTEL_EXPORTER_OTLP_ENDPOINT: http://collector:4317
      OTEL_SERVICE_NAME: otel-shop-shipping
      OTEL_TRACES_SAMPLER: always_on
    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "-H",
          "X-INSTANA-SYNTHETIC: 1",
          "-f",
          "http://localhost:8080/health-check",
        ]
      interval: 10s
      timeout: 10s
      retries: 3
    logging:
      <<: *logging

networks:
  app-network: {}
