# [bump]
version: "3"
services:
  load:
    image: ${REPOSITORY}-load:${PROJECT_VERSION:0.1.44}
    build:
      context: load-gen
    environment:
      HOST: http://front
    networks:
      app-network:
    depends_on:
      - front
    logging: &logging
      driver: "json-file"
      options:
        max-size: "25m"
        max-file: "2"
