agent_key=TODO: Provide an agent key.
# download_key=TODO: If your agent key does not have download privileges, you also need to provide a download key.
agent_endpoint=ingress-red-saas.instana.io
agent_endpoint_port=443
# agent_zone=otel-tests

# [bump]
PROJECT_VERSION=0.1.50
REPOSITORY=instanacedricziel/otel-shop
