agent_key=TODO: Provide an agent key.
# download_key=TODO: If your agent key does not have download privileges, you also need to provide a download key.
agent_endpoint=ingress-red-saas.instana.io
agent_endpoint_port=443
# agent_zone=otel-tests

# Need to compile host id manually, globally unique
INSTANA_HOST_ID=123456789
INSTANA_AGENT_KEY=${agent_key}
INSTANA_OTLP_ENDPOINT=your-otlp-endpoint.here:4317

# For use with otel-collector, set this to "otel-collector:4317"
OTEL_EXPORTER_OTLP_ENDPOINT=collector:4317

# [bump]
PROJECT_VERSION=0.1.115
REPOSITORY=instanacedricziel/otel-shop
