{{ if .Values.psp.enabled }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ .Release.Name }}
rules:
- apiGroups:
  - policy
  resourceNames:
  - {{ .Release.Name }}
  resources:
  - podsecuritypolicies
  verbs:
  - use
{{ end }}
