name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service:
          - mongodb
          - redis
          - rabbitmq
          - mysql
          - dispatch
          - front
          - web
          - cart
          - catalogue
          - user
          - payment
          - shipping
          - ratings
          - load
    env:
        SERVICE: ${{matrix.service}}
        DOCKER_BUILDKIT: 1
    steps:
      - uses: actions/checkout@v2
      - run: cp .env.template .env
        shell: bash
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
        if: github.ref == 'refs/heads/master'
      - name: Pull service ${{matrix.service}}
        run: docker-compose -f docker-compose.yaml -f docker-compose-load.yaml pull --ignore-pull-failures ${{matrix.service}}
      - name: Build service ${{matrix.service}}
        run: docker-compose -f docker-compose.yaml -f docker-compose-load.yaml build ${{matrix.service}}
      - name: Push service ${{matrix.service}}
        run: docker-compose -f docker-compose.yaml -f docker-compose-load.yaml push ${{matrix.service}}
        if: github.ref == 'refs/heads/master'
